*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./img/img/background.jpg);
    animation: bgAnimation 1000s infinite linear;
    padding: 20px 30px;
}
@keyframes bgAnimation {
    0%{
        background-position: top left;
    }
    25%{
        background-position: top right;
    }
    50%{
        background-position: bottom right;
    }
    75%{
        background-position: bottom left;
    }
    100%{
        background-position: top left;
    }
}
h1{
    font-size: calc(22px + (32 - 22) * ((100vw - 390px) / (1280 - 390)));
    margin-right: 5px;
}

.rounded{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgba(230, 230, 230, 0.5);
}
.darkBg{
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.8);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#themeChange{
    width: calc(30px + (50 - 30) * ((100vw - 390px) / (1280 - 390)));
    height: calc(30px + (50 - 30) * ((100vw - 390px) / (1280 - 390)));
}
nav{
    display: flex;
    padding: calc(4px + (10 - 4) * ((100vw - 390px) / (1280 - 390))) calc(4px + (10 - 4) * ((100vw - 390px) / (1280 - 390))) !important;
    gap: 5px;
}
nav a{
    color: black;
    font-size: calc(12px + (18 - 12) * ((100vw - 390px) / (1280 - 390)));
    text-decoration: none;
    border-radius: 20px;
    padding: calc(4px + (6 - 4) * ((100vw - 390px) / (1280 - 390))) calc(10px + (20 - 10) * ((100vw - 390px) / (1280 - 390)));
}

.main{
    display: none;
  
}
.active{
    background-color: orange;
    color: white;
    font-size: 700;
}

.search{
    display: flex;
    gap: 10px;
}
.search input{
    flex-grow: 1;
    border-radius: 8px;
    border: none;
    outline: none;
}
#searchBtn{
    font-size: calc(12px + (18 - 12) * ((100vw - 390px) / (1280 - 390)));
    cursor: pointer;
}
.movieTitle{
    display: none;
    text-align: center;
    padding: 10px;
    font-size: calc(18px + (25 - 18) * ((100vw - 390px) / (1280 - 390)));
    font-weight: 700;
    margin-bottom: 10px;
}
.movie{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 10px;
    margin-bottom: 10px;
}
#movieImg{
    flex-basis: 360px;
    flex-grow: 1;
    max-width: 400px;
    height: calc(500px + (600 - 500) * ((100vw - 390px) / (1280 - 390)));
    background-image: url(./img/img/film2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}
.movieDescription{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 240px;
}
.desc{
    border-radius: 10px;
    background-color: rgba(73, 60, 60, 0.3);
    padding: 6px 12px;
    display: flex;
}
.desc span{
    width: 50%;
}
.simularMovie{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
}
.simularMovieCard{
    background-image: url(./img/img/film3.jpg);
    
    flex-basis: 350px;
    flex-grow: 1;
    max-width: 400px;

    height: calc(16px + (500 - 16) * ((100vw - 390px) / (1280 - 390)));


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.simularMovieTitle{
    text-align: center;
    font-size: calc(16px + (25 - 16) * ((100vw - 390px) / (1280 - 390)));
    font-weight: 700;
    background-color: rgba(220, 220, 220, 0.25);
    width: 100%;
    padding: calc(5px + (20 - 5) * ((100vw - 390px) / (1280 - 390)))  0;
    border-radius: 0 0 10px 10px;
    color: #fff;
}

.saved{
    width: calc(30px + (50 - 30) * ((100vw - 390px) / (1280 - 390)));
    height: calc(30px + (50 - 30) * ((100vw - 390px) / (1280 - 390)));
    background-color: rgba(210, 210, 210, 0.8);
    border-radius: 6px;
    background-image: url(./img/img/favBtn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}

#savedSim{
    width: calc(15px + (50 - 15) * ((100vw - 390px) / (1280 - 390)));
    height: calc(15px + (50 - 15) * ((100vw - 390px) / (1280 - 390)));
}

.dark .rounded{
    background-color: rgba(130, 130, 130, 0.5);
}
.dark .darkBg{
    background-color: rgba(100, 100, 100, 0.8);
}
#themeChange{
    transition: transform .5s ease, filter .5s ease;
}
.dark #themeChange{
    transform: rotate(180deg);
    filter: invert(100%);
}
.dark .saved{
    background-color: rgba(110, 110, 110, 0.8);
    filter: invert(100%);
}

.loader {
    display: none;
    height: 14px;
    --c: no-repeat linear-gradient(#000 0 0);
    background: var(--c),var(--c),#fff;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}
@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

/* Адаптация */

@media(max-width: 948px){
    .simularMovie{
        grid-template-columns: 1fr 1fr;
        
    }
    .simularMovieCard{
        height: calc(220px + (600 - 220) * ((100vw - 390px) / (948 - 390)));
    }
    #movieImg{
        width: 400px;
        height: 562px;
    }
}

@media(max-width: 390px){
    h1{
        font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (390 - 320)))
    }
    #themeChange{
        width: calc(25px + (30 - 25) * ((100vw - 320px) / (390 - 320)));
        height: calc(25px + (30 - 25) * ((100vw - 320px) / (390 - 320)));
    }
    nav a{
        padding: 4px calc(4px + (10 - 4) * ((100vw - 320px) / (390 - 320)));
    }
    #searchBtn{
        font-size: 12px;
    }
    .movieTitle{
        font-size: 18px;
    }
    #movieImg{
        height: calc(400px + (500 - 400) * ((100vw - 320px) / (390 - 320)));
    }
    .saved{
        width: 30px;
        height: 30px;
    }
    .desc span{
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (390 - 320)));
    }
}